@model List<PersonViewModel>

<h1>
    @ViewData["Title"]
    <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Crea nuovo</a>
</h1>

@foreach (PersonViewModel person in Model)
{
    <hr>
    <div class="row">
        <div class="col-md-2">
            <h2>Id:</h2>
            <h3>@person.Id</h3>
        </div>
        <div class="col-md-2">
            <h2>Name:</h2>
            <h3>@person.Name</h3>
        </div>
        <div class="col-md-2">
            <h2>Surname:</h2>
            <h3>@person.Surname</h3>
        </div>
        <div class="col-md-2">
            <h2>Age:</h2>
            <h3>@person.Age</h3>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@person.Id">Dettaglio persona</a>
        </div>
    </div>
}